@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte-padrão: Arial, Verdana, Helvetica,sans-serif;
    --fonte-destaque:"Passion One", serif;
}
main{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: var(--fonte-destaque);
    padding: 1px;
    margin: -35px;
    font-size: 35px;
}
nav{
    margin: 10px;
    padding: 10px;
    font-size: 27px;
}
header{
    color: aliceblue;
    background-image: url(imagens/cordel.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    background-position: right center;
    margin: -10px;
    padding: 5px;
    font-size: 27px;
    padding-left: 50px;
    padding-top: 150px;
    box-shadow: 10px 5px 12px black;
}
main a{
    text-decoration: none;
   color: blueviolet;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
}
a:active{
    color: blue;
}
footer{
    color: aliceblue;
    background-color: black;
    margin: -5px;
}
footer a{
    text-decoration: none;
   color: blueviolet;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
}
a:active{
    color: blue;
}
p{
    line-height: 2em;
    padding-left: 20px;
}
header p{
    background-color: rgba(21, 19, 19, 0.64);
    width: 400px;
    height: 400px;
    box-shadow: 4px 3px 10px rgb(11, 10, 10);
}
div.img{
    background-image: url(imagens/background002.jpg);
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    padding-right: 10px;
    margin: -10px;
    background-position: right center;
    padding-top: 81px;
    padding-left: 54px;
    box-shadow: 10px 5px 12px black;
    box-shadow: inset 0px 5px 8px black;
}
div.img p{
    background-color: rgba(21, 19, 19, 0.64);
    width: 380px;
    color: aliceblue;
    box-shadow: 4px 5px 10px black;
}